:80 {
	redir https://{host}{uri}
}

:443 {
	tls internal
	reverse_proxy aesop-social:80 {
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
		header_up X-Real-IP {remote_host}
	}
}
